PORT=3000
MONGO_URI=
JWT_SECRET=ElectricityAnalyser
GEMINI_API_KEY=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=sahilhac11518@gmail.com
SMTP_PASS=xwsxzqkvjbymqtkk
EMAIL_FROM=sahilhac11518@gmail.com
